.RegisterDiv{
    margin: auto;
   width: 30rem;
   height: 15rem;
 
}

.RegisterForm{
    /* background-color: white; */
    background-color: white;
    /* border: red solid 5px; */
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;

}

.reg_btn{
    background-color: rgb(8, 83, 8);
    color: aliceblue;
    width: 10rem;
    margin: 2px
}
.reg_btn:hover{
    width: 12rem;
    background-color: rgb(13, 138, 13);
}